div(style="text-align: center;")
    a#googleAuth.auth(href="/auth/google")
        img(src="/images/google.png")
    a#twitterAuth.auth(href="/auth/twitter")
        img(src="/images/twitter.png")
    a#facebookAuth.auth(href="/auth/facebook")
        img(src="/images/facebook.png")